<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Modifier votre mot de passe</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form [formGroup]="pwdForm" (ngSubmit)="changePassword()">

        <ion-item lines="full">
          <ion-label position="floating">Mot de passe actuel</ion-label>
          <ion-input type="password" formControlName="currentPwd"></ion-input>
        </ion-item>
        <ion-note color="danger"
          *ngIf="pwdForm.get('currentPwd')?.touched && pwdForm.get('currentPwd')?.errors?.['required']">
          Obligatoire
        </ion-note>

        <ion-item lines="full" class="ion-margin-top">
          <ion-label position="floating">Nouveau mot de passe</ion-label>
          <ion-input type="password" formControlName="newPwd"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="pwdForm.get('newPwd')?.touched && pwdForm.get('newPwd')?.errors?.['required']">
          Obligatoire
        </ion-note>
        <ion-note color="danger" *ngIf="pwdForm.get('newPwd')?.touched && pwdForm.get('newPwd')?.errors?.['minlength']">
          Minimum 6 caractères
        </ion-note>

        <ion-item lines="full" class="ion-margin-top">
          <ion-label position="floating">Confirmer le nouveau mot de passe</ion-label>
          <ion-input type="password" formControlName="confirmPwd"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="pwdForm.get('confirmPwd')?.touched && pwdForm.errors?.['mismatch']">
          Les mots de passe ne correspondent pas
        </ion-note>

        <ion-button expand="block" type="submit" color="primary" class="ion-margin-top"
          [disabled]="pwdForm.invalid || loading">

          {{ loading ? 'Modification...' : 'Modifier' }}
        </ion-button>

      </form>

    </ion-card-content>
  </ion-card>

  <!-- Feedback -->
  <ion-toast [isOpen]="toastVisible" message="{{ toastMsg }}" [color]="toastColor" duration="3500"
    (ionToastDidDismiss)="toastVisible = false">
  </ion-toast>

</ion-content>