<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Retour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <h1 class="page-title">Choisir une formule</h1>

    <div *ngIf="loading" class="loading">
      Chargement des abonnements...
    </div>

    <div
      class="plan-card"
      *ngFor="let plan of plans"
    >
      <div class="plan-header">
        <div class="plan-type-wrapper">
          <ion-icon
            name="person-outline"
            class="type-icon"
          ></ion-icon>
          <span class="plan-type">{{ plan.plan }}</span>
        </div>
      </div>

      <div class="plan-price">
        <span class="price-amount">
          {{ plan.price | number }} Frs
        </span>
        <span class="price-period">
          / {{ plan.duration }}
        </span>
      </div>

      <div class="features-list">
        <div class="feature-item">
          <ion-icon name="checkmark-circle" class="check-icon"></ion-icon>
          <span>Accès aux cours</span>
        </div>
        <div class="feature-item">
          <ion-icon name="checkmark-circle" class="check-icon"></ion-icon>
          <span>Support pédagogique</span>
        </div>
      </div>

      <ion-button
        expand="block"
        class="pay-button"
        (click)="selectPlan(plan)"
      >
        Payer
      </ion-button>
    </div>
  </div>
</ion-content>
