<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="shareInstructor()">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="instructor">

    <!-- HERO -->
    <div class="hero-section"
      [style.backgroundColor]="instructor.backgroundColor">

      <div class="instructor-avatar">
        <img [src]="instructor.image">
      </div>

    </div>

    <!-- INFOS -->
    <div class="main-info">

      <h1>{{ instructor.name }}</h1>
      <p>{{ instructor.title }}</p>

      <div class="stats-row">

        <div class="rating-container">
          <ion-icon *ngFor="let s of getStars(instructor.rating)" name="star"></ion-icon>
          <ion-icon *ngIf="getHalfStar(instructor.rating)" name="star-half"></ion-icon>
          <span>{{ instructor.rating }}</span>
        </div>

        <div (click)="openCoursesModal()">
          <ion-icon name="book-outline"></ion-icon>
          {{ instructor.courses?.length || 0 }} cours
        </div>

      </div>

    </div>

    <!-- BIO -->
    <div class="bio-section">
      <h2>À propos</h2>
      <p>{{ instructor.bio }}</p>
    </div>

    <!-- EXPERTISE -->
    <div class="expertise-section">

      <h2>Domaines d'expertise</h2>

      <div class="expertise-tags">
        <span *ngFor="let skill of instructor.expertise">
          {{ skill }}
        </span>
      </div>

    </div>

    <!-- COURS -->
    <div class="courses-section" >
      <h2>
        Cours proposés ({{ instructor.courses?.length || 0 }})
      </h2>

      <p class="see-more">Voir les cours</p>
    </div>

  </div>

  <!-- ================= MODAL ================= -->

  <ion-modal
    [isOpen]="showCoursesModal"
    initialBreakpoint="0.5"
    [breakpoints]="[0,0.5,1]"
    (didDismiss)="closeCoursesModal()">
    <ion-content>
    <ion-card
      *ngFor="let course of instructor?.courses || []"
      (click)="openCourse(course)">
      <img src="assets/algo.svg">
      <ion-card-content>
        <h3>{{ course?.title || 'Titre non disponible' }}</h3>
        <div class="course-meta">
          <span>{{ course?.level || 'Niveau non spécifié' }}</span>
          <span>•</span>
          <span>{{ (course?.price || 0) | number }} FCFA</span>
        </div>
      </ion-card-content>
    </ion-card>


    </ion-content>

  </ion-modal>

</ion-content>
