 <ion-header>
   <ion-toolbar>
     <ion-buttons slot="start">
       <ion-button (click)="goBack()">
         <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
       </ion-button>
     </ion-buttons>
     <ion-title>Détails Cours</ion-title>
   </ion-toolbar>
 </ion-header>

 <ion-content>
   <div class="content-wrapper">

     <div *ngIf="isLoading" class="loading-container">
       <ion-spinner name="crescent"></ion-spinner>
     </div>

     <div *ngIf="!isLoading">
       <div *ngFor="let chapter of chapters; let chapterIndex = index" class="chapter-section">

         <h2 class="chapter-title">Chapitre {{ chapter.order }}</h2>

         <ion-card *ngFor="let lesson of chapter.lessons; let i = index" class="lesson-card"
           (click)="openLesson(lesson, chapter, chapterIndex)">
           <ion-card-content class="lesson-content">
             <div class="lesson-number">{{ i + 1 }}</div>
             <div class="lesson-info">
               <h3 class="lesson-title">{{ lesson.title }}</h3>
               <p class="lesson-meta"><span class="lesson-type">Vidéo</span></p>
             </div>
             <ion-icon name="play-circle" class="play-icon"></ion-icon>
           </ion-card-content>
           <ion-badge *ngIf="isChapterCompleted(chapterIndex)" color="success" class="completed-badge">
                Terminé
          </ion-badge>
         </ion-card>
         

       </div>
     </div>

   </div>
 </ion-content>

 <app-bottom-menu activePage="courses"></app-bottom-menu>

